

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
</div>

<div class="hero">
  <nav>
    <a href="#" class="logo">
      <span class="logo">Dnca</span>
    </a>
    <ul>
      <li><a href="#"> HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">PORFOLIO</a></li>
  </ul>
</nav>
<div class="detel">
  <h1>Je suis Cecile-Audree <span>Deumeni Ngaleu</span> </h1>
  <p>Etudiante en 04eme ingenieur option <b>ISI</b></p>
</div>

<div class="images">
  <img src="../../../assets/IMG-20220710-WA0010.jpg" class="girl">
</div>
</div>
<div class="content" role="main">
<span>{{ Title }} c'est mon code</span>
</div>



<router-outlet></router-outlet>
